@charset "utf-8";
.headname {
}
.headname {
}
.headname {
    color: #F1F1F1;
    font-style: oblique;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-weight: 1000;
    font-variant: small-caps;
    font-size: 59px;
}
